<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>projectFilePath</key>
	<string>ExampleApp.xcodeproj</string>
	<key>rGeneratedFilePath</key>
	<string>R.generated.swift</string>
	<key>productBundleIdentifier</key>
	<string>com.example.ExampleApp</string>
</dict>
</plist>
